.vcsystem-flex-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между элементами */
}
.cursor-disallowed:hover {
    cursor: not-allowed;
}
.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Цвет для "зебры" */
}
.btn-light-purple {
    background-color: #dbc3ff;
    color: black;
}
.btn-light-sea-wave {
    background-color: #8ddbc9;
    color: black;
}

/* Скрываем кнопку "Версия для печати" */
#t-print {
    display: none;
}

/* Скрываем кнопку "Править" */
#ca-ve-edit {
    display: none;
}

/* Скрываем кнопку "Переименовать" */
#ca-move {
    display: none;
}

/* Скрываем кнопку "Удалить" */
#ca-delete {
    display: none;
}

/* Скрываем кнопку "Защитить" */
#ca-protect {
    display: none;
}

/* Скрываем все ссылки на каждом параграфе "Править" и "Править код" */
.mw-editsection {
    display: none;
}